body {
    margin: auto;
}

#bg {
    position: fixed;
    width: 100%;
    height: 100%;
}

main {
    position: absolute;
    width: 100%;
    color: white;
}

#freemcam-header {
    position: fixed;
    padding: 0.5rem;
    z-index: 100;
}

#freecam-note {
    margin-left: 2rem;
    color: rgb(50, 50, 50);
    display: none;
    user-select: none;
}

#freecam-back {
    display: none;
    color: rgb(70, 70, 70);
}