<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <title>Mark Connelly</title>
    <link rel="icon" type="image/png" href="{% static "assets/favicon.png" %}" />
    <script type="module" crossorigin src="{% static "assets/index.js" %}"></script>
    <link rel="modulepreload" href="{% static "assets/vendor.js" %}">
    <link rel="stylesheet" href="{% static "assets/index.css" %}">
  </head>
  <body>

  <canvas id="bg"></canvas>
  <main id="main">
    <div id="app"></div>
    <div style="position:absolute">
      <button id="btn-bgonly" class="btn">Background-Only Mode</button>
      <button id="btn-freecam" class="btn">Free-Cam Mode</button>
    </div>
  </main>

  </body>
</html>
